---
# Prerequisites:
# - change <CHANGEME> accordingly
# - have locally generated SSH keys in ed25519 format
# - have that key added to your GitHub account
solar:
  primary: true
  box: centos9-stream
  memory: 20480
  disk_size: 150
  cpus: 4
  cpu_mode: host-passthrough
  hostname: foreman.solar-CHANGEME.com # Whatever, but I'd suggest username, example: ofedoren
  domain: solar-CHANGEME.com # Whatever, but I'd suggest username, example: ofedoren
  ansible:
    playbook:
      - 'user_playbooks/essentials.yml' # This will add bunch of bash aliases as well as some pre-configuration, for more info see essentials role tasks
      - 'user_playbooks/selinux.yml' # Just to ensure there are no weird errors caused by selinux. If you want it to be enabled, enable it manually after the machine is provisioned
      - 'user_playbooks/provisioning.yml' # This will install Foreman+Katello+Plugins with hammer and smart-proxy in development mode, and will create a hostgroup to use for provisioning
    group: 'devel'
    variables:
      github_username: CHANGEME # Must be you GitHub username used in Foreman org, example: ofedoren
      hammer_devel_github_username: "{{ github_username }}"
      hammer_devel_github_fork_remote_name: "{{ github_username }}"
      katello_devel_github_username: "{{ github_username }}"
      local_username: CHANGEME # Used for SSH key copying from local machine into virtual machine, must be your current $USER
      git_name: 'CHANGEME CHANGEME' # Used to configure git in the virtual machine, example: Oleh Fedorenko
      git_email: 'CHANGEME' # Used to configure git in the virtual machine, example: ofedoren@redhat.com
      #github_api_token: "CHANGEME" # Only if you have a GitHub API token and want to use it
      #transifex_api_token: "CHANGEME" # Only if you have a Transifex API token and want to use it
      katello_provisioning_sync_repos: false
      foreman_repositories_environment: staging
      katello_repositories_environment: staging
      katello_repositories_version: nightly
      foreman_repositories_version: nightly
      selinux_state: 'disabled'
      foreman_provisioning_domain: "{{ ansible_domain }}"
      foreman_machine_hostname: "{{ ansible_hostname }}.{{ foreman_provisioning_domain }}"
      libvirt_tftp: true
      libv_hostname: "{{ foreman_machine_hostname }}"
      ssh_forward_agent: true
      foreman_devel_github_push_ssh: True
      foreman_provisioning_hammer: 'BUNDLE_GEMFILE=~/hammer-cli/Gemfile bundle exec hammer'
      katello_provisioning_hammer: 'BUNDLE_GEMFILE=~/hammer-cli/Gemfile bundle exec hammer'
      hammer_devel_server: "{{ foreman_machine_hostname }}"
      smart_proxy_devel_repositories:
        - theforeman/smart-proxy
        - theforeman/smart_proxy_dynflow
        - theforeman/smart_proxy_remote_execution_ssh
        - theforeman/smart_proxy_pulp
        - theforeman/smart_proxy_ansible
        - theforeman/smart_proxy_openscap
        - theforeman/smart_proxy_discovery
        - theforeman/smart_proxy_shellhooks
      hammer_devel_repositories:
        - theforeman/hammer-cli
        - theforeman/hammer-cli-foreman
        - theforeman/hammer-cli-foreman-admin
        - theforeman/hammer-cli-foreman-ansible
        - theforeman/hammer-cli-foreman-templates
        - theforeman/hammer-cli-foreman-tasks
        - theforeman/hammer-cli-foreman-discovery
        - theforeman/hammer-cli-foreman-webhooks
        - theforeman/hammer-cli-foreman-virt-who-configure
        - theforeman/hammer-cli-foreman-puppet
        - theforeman/hammer-cli-foreman-google
        - theforeman/hammer_cli_foreman_bootdisk
        - theforeman/hammer_cli_foreman_openscap
        - theforeman/hammer_cli_foreman_remote_execution
        - katello/hammer-cli-katello
      hammer_devel_local_gems: |-
        gem "hammer_cli_foreman"
          gem "hammer_cli_foreman_admin"
          gem "hammer_cli_foreman_ansible"
          gem "hammer_cli_foreman_templates"
          gem "hammer_cli_foreman_tasks"
          gem "hammer_cli_foreman_discovery"
          gem "hammer_cli_foreman_webhooks"
          gem "hammer_cli_foreman_virt_who_configure"
          gem "hammer_cli_foreman_puppet"
          gem "hammer_cli_foreman_google"
          gem "hammer_cli_foreman_bootdisk"
          gem "hammer_cli_foreman_openscap"
          gem "hammer_cli_foreman_remote_execution"
          gem "hammer_cli_katello"
      foreman_installer_options:
        - "--tuning development"
        - "--foreman-proxy-content-enable-ostree=true"
        - "--katello-devel-modulestream-nodejs=18"
        # - "--katello-devel-extra-plugins theforeman/foreman_remote_execution"
        - "--katello-devel-extra-plugins theforeman/foreman_ansible"
        - "--katello-devel-extra-plugins theforeman/foreman_templates"
        - "--katello-devel-extra-plugins theforeman/foreman_openscap"
        - "--katello-devel-extra-plugins theforeman/foreman_discovery"
        - "--katello-devel-extra-plugins theforeman/foreman_puppet"
        - "--katello-devel-extra-plugins theforeman/foreman_webhooks"
        - "--katello-devel-extra-plugins theforeman/foreman-tasks"
        - "--katello-devel-extra-plugins theforeman/foreman_virt_who_configure"
        - "--katello-devel-extra-plugins theforeman/foreman_google"
        - "--katello-devel-use-ssh-fork true"
        - "--foreman-proxy-dns true"
        - "--foreman-proxy-dns-provider libvirt"
        - "--foreman-proxy-dns-interface virbr1"
        - "--foreman-proxy-dns-zone {{ foreman_provisioning_domain }}"
        - "--foreman-proxy-dns-forwarders 8.8.8.8"
        - "--foreman-proxy-dns-reverse 73.168.192.in-addr.arpa"
        - "--foreman-proxy-dhcp true"
        - "--foreman-proxy-dhcp-provider libvirt"
        - "--foreman-proxy-libvirt-network provision"
        - "--foreman-proxy-dhcp-interface virbr1"
        - "--foreman-proxy-dhcp-range '{{ foreman_provisioning_dhcp_start }} {{ foreman_provisioning_dhcp_end }}'"
        - "--foreman-proxy-dhcp-gateway {{ foreman_provisioning_ip_address }}"
        - "--foreman-proxy-dhcp-nameservers {{ foreman_provisioning_ip_address }}"
        - "--foreman-proxy-tftp-servername {{ foreman_provisioning_ip_address }}"
        - "--foreman-proxy-tftp true"
        - "--foreman-proxy-tftp-managed true"
        - "--enable-foreman-proxy-plugin-remote-execution-script"
        - "--enable-foreman-proxy-plugin-discovery"
        - "--enable-foreman-proxy-plugin-ansible"
        - "--enable-foreman-proxy-plugin-openscap"
        - "--enable-foreman-proxy-plugin-shellhooks"
        - "--foreman-proxy-puppet true"
        - "--foreman-proxy-puppetca true"
        - "--enable-puppet"
        - "--puppet-server true"
        - "--foreman-proxy-plugin-openscap-ansible-module true"
        - "--foreman-proxy-plugin-openscap-puppet-module true"
        - "--foreman-proxy-registration true"
        - "--foreman-proxy-templates true"
        - "--foreman-proxy-template-url http://{{ foreman_machine_hostname }}:8000"
        - "--foreman-proxy-plugin-remote-execution-script-install-key true"

centos9-katello-devel:
  primary: true
  box: centos9-stream
  ansible:
    playbook: 'playbooks/katello_devel.yml'
    group: 'devel'
    variables:
      ssh_forward_agent: true
      foreman_devel_github_push_ssh: True
      katello_devel_github_username: <REPLACE ME>
      foreman_repositories_environment: staging
      katello_repositories_environment: staging
      foreman_repositories_version: nightly
      katello_repositories_version: nightly
      foreman_installer_options:
        - "--foreman-proxy-content-enable-ostree=true"
        #- "--katello-devel-modulestream-nodejs=18"

almalinux8-katello-devel:
  primary: true
  box: almalinux8
  ansible:
    playbook: 'playbooks/katello_devel.yml'
    group: 'devel'
    variables:
      ssh_forward_agent: true
      foreman_devel_github_push_ssh: True
      katello_devel_github_username: <REPLACE ME>
      foreman_repositories_environment: staging
      katello_repositories_environment: staging
      foreman_installer_options:
        - "--foreman-proxy-content-enable-ostree=true"
        - "--katello-devel-modulestream-nodejs=12"

almalinux8-luna-demo:
  box: almalinux8
  memory: 10240
  ansible:
    playbook: playbooks/luna_demo_environment.yml

centos9-hammer-devel:
  box: centos9-stream
  memory: 2048
  ansible:
    playbook: 'playbooks/hammer_devel.yml'
    group: 'hammer-devel'
    variables: # defaults in roles/hammer_devel/defaults/main.yml
      hammer_devel_github_username: <REPLACE ME>
      hammer_devel_server: centos9-katello-devel-stable.example.com

centos9-proxy-devel:
    box: centos9-stream
    ansible:
      playbook: 'playbooks/foreman_proxy_content_dev.yml'
      group: 'foreman-proxy-content'
      server: 'centos9-katello-devel'

almalinux8-proxy-devel:
    box: almalinux8
    ansible:
      playbook: 'playbooks/foreman_proxy_content_dev.yml'
      group: 'foreman-proxy-content'
      server: 'almalinux8-katello-devel'

centos9-katello-client:
  box: centos9-stream
  ansible:
    playbook: 'playbooks/katello_client.yml'
    group: 'client'
    variables:
      katello_client_server: 'almalinux8-katello-devel'

almalinux8-katello-client:
  box: almalinux8
  ansible:
    playbook: 'playbooks/katello_client.yml'
    group: 'client'
    variables:
      katello_client_server: 'almalinux8-katello-devel'

almalinux8-katello-bats-ci:
  box: almalinux8
  ansible:
    playbook: 'playbooks/bats_pipeline_katello_nightly.yml'
    group: 'bats'

centos9-dynflow-devel:
  box: centos9-stream
  ansible:
    group: 'dynflow_devel'
    playbook: 'playbooks/dynflow_devel.yml'
    variables:
      dynflow_devel_github_fork_remote_name: 'origin'

centos9-katello-nightly-stable:
  box_name: katello/katello-nightly
  memory: 12288
  hostname: centos9-katello-nightly-stable.example.com

centos9-katello-devel-stable:
  box_name: katello/katello-devel
  memory: 12288
  hostname: centos9-katello-devel-stable.example.com
  ansible:
    playbook: 'playbooks/setup_user_devel_environment.yml'

# This box's intended use is dual homed where one interface is in the
# management network and the other in an IPv6-only network. If that's using an
# ULA range or link local, it should have permission to request resources by
# default. This depends on a manually defined network with a bridge named
# virbr3.
almalinux8-squid:
  box: almalinux8
  ansible:
    playbook: 'playbooks/squid.yml'
  networks:
    - type: 'public_network'
      options:
        dev: 'virbr3'
        type: 'bridge'

almalinux8-foreman-smoker:
  box: almalinux8
  ansible:
    playbook: 'playbooks/smoker.yml'
    variables:
      smoker_base_url: "CHANGEME" # For example: "https://almalinux8-katello-devel-stable.example.com"
      pytest_project_alias: "foreman_smoker"
      pytest_run_tests: false
